﻿
@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-plane" aria-hidden="true"></i>  Listado General de Reservaciones</h2>
<hr/>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-info-circle" aria-hidden="true"></i>  Información
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
        <p>Para buscar sus reservaciones ingrese su Nro. de cédula en campo buscar<br />
        De igual forma puede ordenar los datos haciendo click en título de la columna<br />
        Puede realizar busquedas de acuerdo al contenido de las columnas<br />
        </p>
    </div>
</div>
<hr />
    
<div class="container" id="griddata"> </div>

  
 <script type="text/babel">
        @* Here we will create React component *@

        @* 0. Search box component *@
        var SearchBox = React.createClass({
            handleChange : function(e){
                console.log('search');
                this.props.onSearchChanged(e.target.value);
            },
            render: function(){
                return (<div style={{marginBottom:15+'px',float:'right'}}>Buscar:<input type="text" value={this.props.searchText} onChange={this.handleChange} /></div>)
            }
        });

        @* 1. Paging component *@
        var GridPager = React.createClass({
            render : function(){
                var li = [];
                var pageCount = this.props.Size;
                for(var i = 1; i <=pageCount; i++){
                    if(this.props.currentPage == i){
                        li.push(<li key={i} className="active"><a href="#">{i}</a></li>);
                    }
                    else{
                        li.push(<li key={i}><a href="#" onClick={this.props.onPageChanged.bind(null,i)}>{i}</a></li>);
                    }
               }
                return (<ul className="pagination">{li}</ul>);
            }
        });


        @* 2. Table row component *@

        var ReservationGridRow = React.createClass({
            render : function(){
                return (
                    <tr>
                        <td>{this.props.item.Departure}</td>
                        <td>{this.props.item.DepartureTime}</td>
                        <td>{this.props.item.Arrival}</td>
                        <td>{this.props.item.FlightNo}</td>
                        <td>{this.props.item.FlightDate}</td>
                        <td>{this.props.item.Dni}</td>
                        <td>{this.props.item.FirstName}</td>
                        <td>{this.props.item.LastName}</td>
                    </tr>
                   );
            }
        });

        @* 3. Table component *@

        var ReservationGridTable = React.createClass({
            getInitialState : function(){
                return {
                    Data : {
                        List : [],
                        totalPage : 0,
                        sortColumnName : null,
                        sortOrder : null,
                        currentPage : 1,
                        pageSize : 3,
                         searchText : ''
                    }
                }
            },
            componentDidMount : function(){
                this.populateData();
            },
        
            @* function for populate data *@
            populateData: function(){
                var params = {
                    pageSize : this.state.Data.pageSize,
                    currentPage : this.state.Data.currentPage,
                    searchText : this.state.Data.searchText
                }
                if(this.state.Data.sortColumnName){
                    params.sortColumnName = this.state.Data.sortColumnName;
                }
                if(this.state.Data.sortOrder){
                     params.sortOrder = this.state.Data.sortOrder;
                }

                $.ajax({
                    url : this.props.dataUrl,
                    type : 'GET',
                    data : params,
                    success : function(data){
                        if(this.isMounted()){
                            this.setState({
                                Data : data
                            });
                        }
                    }.bind(this),
                    error: function(err){
                        alert('Error');
                    }.bind(this)
                });
            },

        @* function for pagination *@

        pageChanged:function(pageNumber,e){
            e.preventDefault();
            this.state.Data.currentPage = pageNumber;
            this.populateData();
        },

        @* function for sorting *@
        sortChanged : function(sortColumnName, order , e){
            e.preventDefault();
            this.state.Data.sortColumnName = sortColumnName;
            this.state.Data.currentPage = 1;
            this.state.Data.sortOrder = order.toString().toLowerCase() == 'asc' ? 'desc':'asc';
            this.populateData();
        },
       
        @* function for search *@
        searchChange : function(value){
            var d = this.state.Data;
            d.searchText = value;
            this.setState({
                Data : d
            });
            this.populateData();
        },

        @* function for set sort icon on table header *@

        _sortClass : function(filterName){
            return "fa fa-fw " + ((filterName == this.state.Data.sortColumnName) ? ("fa-sort-" + this.state.Data.sortOrder) : "fa-sort");
        },

        @* render *@
        render : function(){
            var rows = [];
            this.state.Data.List.forEach(function(item){
                rows.push(<ReservationGridRow key={item.ReservationID} item={item} />);
            });
            return (
                <div>
                    <SearchBox onSearchChanged={this.searchChange} searchText={this.state.Data.searchText} />
                    <table className="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th onClick={this.sortChanged.bind(this,'Departure',this.state.Data.sortOrder)}>
                                    Salida
                                    <i className={this._sortClass('Departure')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'DepartureTime',this.state.Data.sortOrder)}>
                                    Hora
                                    <i className={this._sortClass('DepartureTime')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'Arrival',this.state.Data.sortOrder)}>
                                    Llegada
                                    <i className={this._sortClass('Arrival')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'FlightNo',this.state.Data.sortOrder)}>
                                    Vuelo
                                    <i className={this._sortClass('FlightNo')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'FlightDate',this.state.Data.sortOrder)}>
                                    Fecha
                                    <i className={this._sortClass('FlightDate')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'Dni',this.state.Data.sortOrder)}>
                                    Cédula
                                    <i className={this._sortClass('Dni')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'FirstName',this.state.Data.sortOrder)}>
                                    Nombre
                                    <i className={this._sortClass('FirstName')}></i>
                                </th>
                                <th onClick={this.sortChanged.bind(this,'LastName',this.state.Data.sortOrder)}>
                                    Apellido
                                    <i className={this._sortClass('LastName')}></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>{rows}</tbody>
                    </table>
                    <GridPager Size={this.state.Data.totalPage} onPageChanged={this.pageChanged} currentPage={this.state.Data.currentPage} />
                </div>
            );
        }
    });
    ReactDOM.render(
    <ReservationGridTable dataUrl="/home/getReservationList" />, document.getElementById('griddata'));
</script>
   

