﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

  #griddata th {
      cursor: pointer;
  }

 .fa fa-sort- {
   float: right;
   margin-top: 4px;
  }

 table thead {
   background: rebeccapurple;
   color: white;
 }

